      0%
      {color: #ff3346;}
      3%
       {color: #ff339e;}
      7%
      {color: #ff33f4;}
      10%
       {color: #c633ff;}
      14%
       {color: #8c33ff;}
      17%
       {color: #5e33ff;}
      21%
       {color: #333cff;}
      24%
      {color: #3361ff ;}
      28%
        {color: #3392ff;}
      31%
       {color: #33bdff;}
      35%
       {color: #33d6ff ;}
      38%
       {color: #33f4ff;}
      42%
       {color: #33ffe5 ;}
      45%
        {color: #33ff9e ;}
      49%
       {color: #33ff5e ;}
      52%
       {color: #6aff33 ;}
      56%
       {color: #9bff33 ;}
      59%
       {color: #c0ff33 ;}
      63%
        {color: #dfff33 ;}
      66%
       {color: #faff33 ;}
      70%
       {color: #ffee33 ;}
      74%
       {color: #ffd333 ;}
      78%
       {color: #ffb433 ;}
      84%
        {color: #ff9533 ;}
      89%
       {color: #ff7633;}
      96%
       {color: #ff5233 ;}
      100%
       {color: #ff3933 ;}