<header class="jumbotron" id="header" style="margin-bottom:0px;padding:0px 0px 0px 0px;background-image:url('img/logoNew.png') !important;background-repeat:no-repeat;">

<div class="container-fluid" style="margin:0px;padding:10px 0px 0px 0px;">
  <div class="row text-center" style="">


        <strong  id="appTitle" style="font-size:0px;">
          <span id="s1">A</span>
          <span id="s2">n</span>
          <span id="s3">i</span>
          <span id="s4">m</span>
          <span id="s5">A</span>
          <span id="s6">l</span>
          <span id="s7">i</span>
          <span id="s8">k</span>
          <span id="s9">e</span>
        </strong>

  </div>
</div>
</header>
